* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
.time {
  text-align: center;
  margin: 5px 0px;
}
.game__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container {
  width: 600px;
  height: 600px;
  background-color: rgb(228, 226, 226);
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgb(116, 116, 117);
  border-radius: 15px 4px 25px 4px;
}
.maxtrix__container {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}
.sub_container__1 {
  width: 100%;
  display: flex;
}

.card {
  width: 100px;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
}
.img1 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.front > .img1 {
  object-fit: fill;
}
.back > .img1 {
  object-fit: cover;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.flipCard {
  transform: rotateY(180deg);
}
.sub_container__2 {
  display: flex;
  height: 50%;
  justify-content: space-around;
  margin-top: 50px;
}
.sub_container__2__right {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 6px 0px;
  width: 150px;
  background: brown;
  color: wheat;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  margin: 4px;
}
.button:hover {
  background: rgb(196, 64, 64);
}
.option {
  border: 1px solid rgb(133, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
}
.option:hover {
  cursor: pointer;
  background-color: rgb(133, 128, 128);
  color: white;
  border-radius: 4px;
}
.threeGame,
.fourGame {
  margin-top: 8px;
}
.game {
  margin-left: 10px;
}
